header{ 
    display: flex;
}
header img{
    padding: 28px;
} 

ul {
    display: inline-flex;
    list-style:none;
}

li{
    float : left;    
}

.ml{
    display: block;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    font-weight: bold;
    padding-top: 20px;
}

.ml:hover{
    text-decoration: underline;
}

ol{
    padding-top: 0px;
    padding-left: 0px;
    list-style: none;
}

ol li{
    margin-left: 10px;
}

a{
   text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main{
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:15px;
}


.bords div{
    border: black 1px solid;
    width: 140px;
    height: 400px;
}
.bords{
    display: flex;
}

.savings{
    color: rgb(114, 182, 13);
}

.RRP{
    color: gray;
}

.images{
    padding-top: 5px;
}

.bord2{
    margin-left: 10px;
}

.bord3{
    margin-left: 10px;
}

.bord4{
    margin-left: 10px;
}

@media print {
    header img{
        padding-left: 160px;
    }

    nav{
        display: none;
    }

    header ul{
        display: none;
    }
}



@media (max-width:1000px){
header img{
    margin-left:100px;
    height: 100px;
    width: 100px;
}
header{
    display:block;
}

ul{
    padding-left:3px;
}

.ml {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    padding-top: 10px;
}

.bords div {
    border: black 1px solid;
    width: 90%;
    height: auto;
}

.images {
    padding: 6%;
    width: 85%;
    height: auto;
}

.bords{
    display:block;
}

.bord2{
    margin-left: 0px;
    margin-top: 20px;
}

.bord3{
    margin-left: 0px;
    margin-top: 20px;
}

.bord4{
    margin-left: 0px;
    margin-top: 20px;
}
}
