header{ 
    display: flex;
}
header img{
    padding: 28px;
} 


li{
    display: inline;
    float : left;    
}

.ml{
    display: block;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    font-weight: bold;
    padding-top: 20px;
}

.ml:hover{
    text-decoration: underline;
}

ol{
    padding-top: 0px;
    padding-left: 0px;
}

ol li{
    margin-left: 10px;
}

a{
   text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main{
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:15px;
}


.bords div{
    border: black 1px solid;
    width: 140px;
    height: 400px;
    padding-left: 3px;
}
.bords{
    display: flex;
}

.savings{
    color: rgb(114, 182, 13);
}

.RRP{
    color: gray;
}

.images{
    padding-top: 5px;
}

.bord2{
    margin-left: 10px;
}

.bord3{
    margin-left: 10px;
}

.bord4{
    margin-left: 10px;
}

